# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# NextAuth
AUTH_SECRET=
NEXTAUTH_URL=https://pablo.vantax.co.za

# Ollama Cloud
OLLAMA_URL=https://api.pawan.krd/cosmosrp/v1
OLLAMA_API_KEY=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_KEY=
CLOUDFLARE_EMAIL=
